/* QUIZ */

.NextStep{
    background-color: #20bec6;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.NextStep:hover{
    background-color: #0993a5;
}
.NextStep[disabled]{
    display: none;
}

.finalPage{
    text-align: center;
    padding-bottom: 10px;
}

.finalPage .titleFinal {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: rebeccapurple;
    text-transform: none;
    text-shadow: none;
}

.formGroup.quizCard {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 350px;
    width: auto;
}

/*  QUESTION  */

.Content h1{
    margin: 15px 0;
    margin-left: 10px;
    margin-bottom: 30px;
    vertical-align: sub;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: red;
    text-transform: none;
    text-shadow: none;
    text-align: left;
    display: inline-block;
}

.Content {
    background: #f9f9f9;
    padding: 30px;
    padding-top: 15px;
    margin: 15px;
    margin-top: 35px;
    border: 2px solid #20bec6;
    border-radius: 8px;
}

aside.quiz {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

/* ANSWER  */

.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Answers li{
    padding: 15px;
    background-color: #ffde7a7a;
    margin: 0 0 5px;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 20px;
}
.Answers li:hover{
    cursor: pointer;
    background-color: #fba64f;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
    border: 1px solid #012202;

}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

.correctAnswer {
    background-color: lightgreen;
    border: 1px solid green;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: table;
    border-radius: 5px;
}

.incorrectAnswer {
    background-color: lightcoral;
    border: 1px solid red;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: table;
    border-radius: 5px;
}

.btnPlayAgain {
    background: #20bec6;
    color: #fff;
    padding: 10px;
    font-size: 28px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #888;
}

.btnPlayAgain:hover {
    background: #0993a5;
}

.imgAnswer {
    width: 100%;
}

.imageSize {
    width: 330px;
}

.correctAnswer svg {
    font-size: 35px;
    vertical-align: middle;
    background: blue;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin-left: 5px;
}

.incorrectAnswer svg {
    font-size: 35px;
    vertical-align: middle;
    background: blue;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin-left: 5px;
}

.correctAnswer span, .incorrectAnswer span {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.stepsTop {
    background-color: #20bec6;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}

.fontSize {
    margin-top: 20px;
    font-size: 60px;
    word-break: break-all;
}

.fontSizeB {
    margin-top: 20px;
    font-size: 70px;
}


@media only screen and (max-width: 360px) {
    .fontSize {
        font-size: 50px;
    }
  }

.divQuestion {
    display: block;
    text-align: center;
}

.imgQuestion {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    border: 2px solid darkblue;
}

.finalPage .scoreFinal {
    font-size: 25px;
    background-color: #ffde7a7a;
    width: 256px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;

}

.finalPage .scorePhase {
    padding: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.center {
    text-align: center;
    margin: 0 auto;
}